body {
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 12px;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.wrapp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 10px solid blue; */
}
.container {
  display: flex;
  width: 49.28rem;
  height: 28rem;
  background-color: white;
  border-radius: 20px;
}
.xtion {
  width: 50%;
  height: 100%;
}
.xtion-desk {
  width: 100%;
  height: 100%;
  background-image: url('images/illustration-woman-online-desktop.svg'),
    url('images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -60px;
}
.xtion-box {
  position: relative;
  width: 150px;
  height: auto;
  left: -90px;
  top: 190px;
}

.faq-wrap {
  width: 50%;
  height: 100%;
}
.faq-wrap h1 {
  font-size: 30px;
  margin-top: 3.5rem;
}
.q-card {
  color: rgb(163, 163, 163);
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 3px 0;
}
.faq-wrap h1,
.q-card {
  /* border: 5px solid green; */
  width: 300px;
}
.q-box {
  /* border: 5px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  cursor: pointer;
}
.q-box:hover {
  color: #ff9271;
}
.arrow-up {
  transform: rotate(180deg);
}
.selected {
  color: black;
}
.answer {
  /* border: 3px solid red; */
  display: none;
}
.stay {
  display: block;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.xtion-mob {
  display: none;
}

/* @media (min-width: 700px) {
  .xtion-mob {
    display: none;
  }
} */

@media (max-width: 768px) {
  .xtion-mob {
    /* display: block; */
    position: relative;
    top: -130px;
  }
  .bg-desk,
  .xtion-box,
  .xtion-desk {
    display: none;
  }
  /* .wrapp {
    background-image: url('images/illustration-woman-online-mobile.svg'),
      url('images/bg-pattern-mobile.svg');
  } */
  .container {
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    height: 70vh;
    width: 90vw;
    border: 10px solid blue;
  }
  .xtion {
    align-self: center;
    border: 10px solid black;
    height: 50px;
    width: 100%;
    background-image: url('images/bg-pattern-mobile.svg');
    /* background-size: contain; */
  }
}
